h1{ color:red; }
/* style.css */
body{
  background: rgb(245,245,245);
  color: green;
  font-size: 16px;
  font-family: Arial;
}
h1{
  font-family: 'roboto', sans-serif;
  color: red;
  font-weight: bolder;
  font-size: 10px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 8px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}